<div id="modal-item" class="hidden opacity-0 sticky h-screen w-screen inset-0 z-990 bg-black/50 overflow-x-hidden overflow-y-auto transition-opacity ease-linear outline-0">
    <div class="h-full w-full flex items-center justify-center">
        <div class="bg-white rounded-lg w-[32em] p-3">
            <div class="w-full">
                <button id="modal-close" title="close modal" class="float-right hover:text-red-500">
                    <i class="fa-lg fa fa-times"></i>
                </button>
            </div>
            <form id="category-form" action="">
                <div class="grid gap-6 justify-items-center py-6 px-8">
                    <h2 id="model-title" class="text-2xl">Add new Category</h2>
                    <div class="flex flex-col md:flex-row gap-y-2 gap-x-5 w-full justify-center">
                        <label for="category_name">Category Name</label>
                        <div class="w-3/5">
                            <input id="category_name" type="text" name="category_name" class="w-full focus:shadow-primary-outline text-sm leading-5.6 ease block appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 outline-none transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none">
                            <p id="category_name_error" class="text-sm text-red-500"></p>
                        </div>
                    </div>
                    <div class="">
                        <button id="modal_execute_btn" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>