.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: #e5e7eb;
}

.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: #9ca3af;
}

.block {
    display: block;
}

.border {
    border-width: 1px;
}

.border-r-2 {
    border-right-width: 2px;
}


.capitalize {
    text-transform: capitalize;
}


.column-1 {
    columns: 1;
}


.column-2 {
    columns: 2;
}
/* 
.flex-row {
    flex-direction: row;
} */


.font-bold {
    font-weight: 700;
}

.gap-8 {
    gap: 2rem;
}

.gap-24 {
    gap: 6rem;
}

.gap-9 {
    gap: 2.25rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-3 {
    gap: 0.75rem;
}


.list-disc {
    list-style-type: disc;
}

.m-0 {
    margin: 0px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}


.p-16 {
    padding: 1rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-full {
    border-radius: 9999px;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.text-gray-700 {
    color: #374151;
}

.text-gray-400 {
    color: #9ca3af;
}

.w-full {
    width: 100%;
}

.w-56 {
    width: 14rem;
}

.min-w-56 {
    min-width: 14rem;
}

.w-img {
    width: 30%;
}