/*!

=========================================================
* Argon Dashboard 2 Tailwind - v1.0.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-dashboard-tailwind
* Copyright 2022 Creative Tim (https://www.creative-tim.com)

* Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table {
        @apply overflow-hidden;
    }
    td {
        @apply px-3.5 py-2.5 h-fit;
    }
    select {
        @apply input inline cursor-pointer;
    }
    input[type="search"] {
        @apply input inline w-fit mx-3;
    }
}

@layer components {
    .select2-selection {
        @apply input w-full;
    }
    .dataTables_wrapper {
        @apply relative;
    }
    .dataTables_length {
        @apply float-left
    }
    .dataTables_filter {
        @apply float-right text-right
    }
    .dataTables_paginate {
        @apply float-right text-right;
    }
    .dataTable {
        @apply mx-0;
    }
    .sorting {
        @apply after:text-xs after:px-1 after:content-['\25bc\25b2'];
    }
    .sorting_asc {
        @apply after:text-green-400 after:text-xs after:px-1 after:content-['\25b2'];
    }
    .sorting_desc {
        @apply after:text-red-400 after:text-xs after:px-1 after:content-['\25bc'];
    }
    .odd {
        @apply p-2 capitalize text-center align-middle bg-gray-100/70 dark:bg-slate-900/70 border-b dark:border-white/40 whitespace-nowrap shadow-transparent
    }
    .even {
        @apply p-2 capitalize text-center align-middle bg-gray-50 dark:bg-slate-900/90 border-b dark:border-white/40 whitespace-nowrap shadow-transparent
    }
    .paginate_button {
        @apply m-1 cursor-pointer rounded-lg border border-blue-200 bg-blue-50 py-2 px-5 text-center shadow-sm shadow-blue-200 hover:-translate-y-1 hover:bg-blue-100 hover:shadow-md hover:shadow-blue-200;
    }
    .disabled {
        @apply cursor-not-allowed border-gray-200 bg-gray-100 shadow-none hover:bg-gray-100 hover:shadow-none;
    }
    .current {
        @apply btn-primary hover:bg-blue-600;
    }
    .btn {
        @apply inline-block w-fit px-6 py-2.7 font-bold text-center uppercase align-middle transition-all rounded-lg cursor-pointer leading-normal text-xs ease-in tracking-tight-rem shadow-xs bg-150 bg-x-25 hover:-translate-y-px active:opacity-85 hover:shadow-md;
    }
    .btn-sm {
        @apply px-4 py-1.4 
    }
    .btn-primary {
        @apply bg-gradient-to-br from-blue-300 to-blue-500 hover:bg-gradient-to-r text-white;
    }
    .btn-success {
        @apply bg-gradient-to-br from-green-300 to-green-500 hover:bg-gradient-to-r text-white;
    }
    .btn-warning {
        @apply bg-gradient-to-br from-amber-300 to-amber-500 hover:bg-gradient-to-r text-white;
    }
    .btn-danger {
        @apply bg-gradient-to-br from-red-300 to-red-500 hover:bg-gradient-to-r text-white;
    }
    .btn-outline-primary {
        @apply text-blue-500 border-blue-500;
    }
    .hr-line {
        @apply h-px mx-0 my-4 bg-transparent border-0 opacity-25 bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent;
    }
    .input {
        @apply px-2 text-sm focus:shadow-primary-outline w-fit leading-5.6 relative inline min-w-0 flex-auto rounded-lg border border-solid border-gray-300 dark:bg-slate-850 dark:text-white bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-blue-500 focus:outline-none focus:transition-shadow;
    }
    .checkbox {
        @apply w-5 h-5 mr-2 text-base rounded-1.4  checked:bg-gradient-to-tl checked:from-blue-500 checked:to-violet-500 after:text-xxs after:font-awesome after:duration-250 after:ease-in-out duration-250 relative float-left mt-1 cursor-pointer appearance-none border border-solid border-slate-200 bg-white bg-contain bg-center bg-no-repeat align-top transition-all after:absolute after:flex after:h-full after:w-full after:items-center after:justify-center after:text-white after:opacity-0 after:transition-all after:content-['\f00c'] checked:border-0 checked:border-transparent checked:bg-transparent checked:after:opacity-100;
    }
    .label {
        @apply cursor-pointer select-none text-slate-700;
    }
}